
<html>
  <head></head>
    <body>
      <form>
        <input type = 'text' name = 'guess' />
        <input type = 'submit' name = 'Guess!'/>
      </form>

        <% if correct%>
        <p>
          <%= show_number %>
          <%= message %>
       </p>
        <% else %>
        <p>
          <%= message %>
        </p>
        <% end %>

    </body>
</html>
